.detailsContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.detailsImage {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}
